#board-area {
	background-color:#eee;         
	border:3px solid  #aaaaaa;   
	width: 250px;      
	height: 250px;
}

td {
	background-color: #ffffff;
}

#container {
	width: 250px;
}

.toggled {
	background-color: #000000;	
}

header {
	font-size: 2em;
}

button {
	float: right;
}
