#board-area {
	background-color:#eee;         
	border:3px solid  #aaaaaa;   
	width: 500px;      
	height: 500px;
}

td {
	background-color: #ffffff;
}

.toggled {
	background-color: #000000;	
}

header {
	font-size: 2em;
}
