#board-area {
	background-color:#eee;
	border:3px solid  #aaaaaa;
	width: 250px;
	height: 250px;
}

td {
	background-color: #ffffff;
}

#container {
	margin: auto;
	width: 250px;
}

.live {
	background-color: #000000;
}

header {
	text-align: center;
	font-size: 2em;
}

button {
	float: right;
}
